body {
    background-color: #333;
}
.color {
    background-color: #eee;
}
.center {
    margin: auto;
    width: 25%;
    border: 3px solid #eee;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 5rem;
    margin-top: 10px;
}
.center-posts {
    margin: auto;
    width: 80%;
    border: 3px solid #eee;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 5rem;
}
button {
    background-color: red;
    border: none;
    color: white;
    padding: .75rem .75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}
.error {
    color: red;
}
.success {
    color: green;
}
.align-right {
    text-align: right;
}
.topnav {
    background-color: #eee;
    border: 2px solid #eee;
    margin: auto;
    overflow: hidden;
    width: 1234px;
    position: fixed;
    top: 0;
    color: black;
    font-size: 20px;
    text-align: left;
    padding: 15px;
}
li {
    display: inline;
}
li a {
    display: block;
    padding: 14px 16px;
    font-size: 20px;
    color: black;
    float: left;
}
li a:hover {
    background-color: rgb(139, 139, 139);
    color: white;
}
li a:active {
    color: red;
}
.space {
    margin-left: 10px;
}
.logout {
    text-align: right;
    margin-right: 30px;
}
.welcome {
    font-weight: bolder;
    font-size: 35px;
}
.form {
    padding-top: 15px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post {
    padding: 5px;
    border: 2px solid rgb(221, 6, 6);
    margin: 15px;
    margin-bottom: 5px;
}
.user {
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
.title {
    font-weight: bolder;
    font-size: 30px;
    color: black;
    margin-top: 3px;
}
.body {
    color: rgb(39, 39, 39);
    font-size: 19px;
    margin-top: 0.5px;
    margin-bottom: 3px;
}
.date {
    font-size: 13px;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 3px;
}
.button:active {
    background-color: rgb(192, 7, 7);
    color: rgba(255, 255, 255, 0.699);
}