a.color-white:hover {
    color: lightblue;
}

.bg-black {
    background-color: black;
}

.color-white {
    color: white;
}

.title {
    font-size: 60px;
}

.nav-element {
    font-size: 40px;
    text-align: right;
}

.display {
    display: inline-block;
    position: float;
}